@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #b9cadb;
  --foreground: #0f172a;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  font-family: var(--font-geist-sans), "Apple SD Gothic Neo", "Malgun Gothic",
    sans-serif;
}
